form.search {
	overflow: auto;
	margin-bottom: 10px;
}

form.search button[type="submit"] {
	float: right;
	/* margin-top: 10px; */
	font-family: "Sarpanch", sans-serif;
}

html {
	scroll-behavior: smooth;
}

.form-control {
	display: initial;
	width: calc(100% - 85px);
	font-family: "Sarpanch", sans-serif;
}

.form-controls {
	display: initial;
	font-family: "Sarpanch", sans-serif;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
